 /* MyDatePicker.css  */

.custom-datepicker {
  color:white !important;
  border:1px solid white !important;
  text-align: center;
  border-radius: 20px;
}


/*======================
  404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{

background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1{
font-size:80px;
}

.four_zero_four_bg h3{
     font-size:80px;
     }
     
     .link_404{			 
color: #fff!important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;}
.contant_box_404{ margin-top:-50px;}

  /* Mysidebar.css */

.menu-item {
  padding: 0;
  padding-left: 5px;
  color: #ffffff;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20%; 
}
.eqlogo{
  padding: 13px 18px;
}

.active-menu {
  background-color: #3F51B5;
}

/* DateRangePicker.css */
.react-datepicker {
font-family: 'Arial', sans-serif;


}

.react-datepicker__input-container {
display: inline-block;
width: 100%; /* Ensure the date picker takes full width*/
padding: 11px 17px 11px;
}

.react-datepicker__input-container input {
width: 100%;
padding: 0.375rem 0.75rem;
color:#ffffff ;
border-bottom: 1px solid #d2d6dc; /* Add a bottom border */
outline: none;
}

.react-datepicker-popper {
z-index: 1000;
}



.custom-timepicker .react-time-picker-dropdown-icon {
  fill: grey; /* Icon color */
}

.custom-timepicker .react-time-picker-dropdown-clock {
  color: grey; /* Clock color */
}

.custom-timepicker .react-time-picker-dropdown-clock-selected {
color: rgb(181, 20, 20); /*Selected time color*/
}

input.tp_inputBox{
  color: white !important; /*Selected time color */
}
/* CustomTimepicker.css */
.custom-timepicker-wrapper {
  position: relative;
}



/* You can also style the input field itself if needed */
/* .custom-timepicker {
  width: 300px;} /* Set the overall width of the time picker */


/* Adjust the width of the hour input */
.custom-timepicker .react-time-picker__inputGroup__hour {
  width: 80px !important; /* Adjust the width as needed */
}

/* Adjust the width of the minute input */
.custom-timepicker .react-time-picker__inputGroup__minute {
  width: 80px !important; /* Adjust the width as needed */
}
.custom-timepicker .rc-time-picker-panel-input-wrap {
  border: none;
}

.custom-timepicker .rc-time-picker-input {
  background-color: transparent;
  color: white;
  border: none;
}

.custom-timepicker .rc-time-picker-clear {
  color: white;
}